
.card {
    /*padding: 30px;*/
    /*margin-top: 10px;*/
    /*margin-bottom:10px;*/
    /*display: flex;*/
}

.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.profileTextInfo {
    display: flex;
    align-items: center;
}

.secondaryContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 0px;
    gap: 2px;
    /*margin-top: 30px;*/
}

.iconStats {
    /*margin-right: 10px;*/
    display: inline-flex;
    align-items: center;
}