root {
  min-height: 100vh;
  font-family: Roboto;
}


/* discord black #36393f */
/* react black #282c34 */
body {
  /* background-color: #36393f; */
  /* font-family: Roboto; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.hero {
  display: flex;
  justify-content: flex-start;
  /* margin-right: 100px; */
}


.ProfileCard {
  margin: 12px;
  display: flex;
  flex-direction: column;
}