root {
  min-height: 100vh;
  font-family: Roboto;
}


/* discord black #36393f */
/* react black #282c34 */
body {
  min-height: 100vh;
  padding: 40px;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

@media only screen and (max-width: 600px) {
  body{
    display: block !important;
  }
}

.ProfileCard {
  margin: 12px;
  display: flex;
  flex-direction: column;
}