.standard {
  color: black;
}
.noDescription {
  color: var(--gray-400);
}

@media (prefers-color-scheme: dark) {
  .standard {
    color: white;
  }
  .noDescription {
    color: var(--gray-400);
  }
}
